*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #444;
}

.grid {
    display: grid;
}

div.container1 {
    background-color: lightgray;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}