$main-width: 1350px;
$content-container-margin: 25px;
$content-gap: 35px;
$round-border-setting: 10px;
$shadow-setting: 19px 50px 50px 13px #00000052;

.red {
    background-color: crimson;
}

.green {
    background-color: green;
}

.whitesmoke {
    background-color: whitesmoke;
}

.dark {
    background-color: #232029;
}

.gray {
    background-color: #65727f;
}

.purple {
    background-color: #621bad;
}

.skyblue {
    background-color: skyblue;
}

.lightgreen {
    background-color: chartreuse;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Zalando Sans", sans-serif;
}

body {
    // background-color: #444;
    color: white;
}

section.main {
    display: flex;
    justify-content: center;
    // align-items: center;
    // height: 100vh;
    margin: 50px 25px;

    div.container {
        display: flex;
        width: 100%;
        max-width: $main-width;
        align-items: flex-start; // !!! SVARBU !!! Šita eilutė ištempia konteinerius tik tiek, kad tilpų turinys
        // height: 100%;
        // max-height: 700px;
        // background-color: lightgray;
        padding: 35px;
        gap: $content-gap;

        div.inner-container-1 {
            display: flex;
            flex-direction: column;
            width: calc(100% / 4 * 3);
            // height: 100%;
            gap: $content-gap;

            div.row-1,
            div.row-2 {
                display: flex;
                width: 100%;
                // height: calc(100% / 2);
                gap: $content-gap;
                z-index: 0;
            }

            div.row-1 {

                div.content-container-1 {
                    position: relative;
                    width: calc(100% / 3 * 2);
                    // height: 100%;
                    box-shadow: $shadow-setting;
                    z-index: 1;

                    img.special {
                        position: absolute;
                        top: 0px;
                        right: 70px;
                        width: 100px;
                        z-index: -1;
                    }

                    img {
                        border-color: #a947c2;
                    }
                }

                div.content-container-2 {
                    width: calc(100% / 3);
                    // height: 100%;
                    box-shadow: $shadow-setting;
                }
            }

            div.row-2 {
                div.content-container-1 {
                    width: calc(100% / 3);
                    // height: 100%;
                    color: #444;
                    box-shadow: $shadow-setting;
                }

                div.content-container-2 {
                    width: calc(100% / 3 * 2);
                    // height: 100%;
                    box-shadow: $shadow-setting;

                    img {
                        border-color: #981ac2;
                    }
                }
            }
        }

        div.inner-container-2 {
            width: calc(100% / 4);
            // height: 100%;
            box-shadow: $shadow-setting;

            * {
                color: #444;
            }
        }

        div.content-container-1,
        div.content-container-2,
        div.content-container {

            * {
                font-size: 12px;
            }

            display: flex;
            flex-direction: column;
            gap: 1.7em;
            padding: 2.2em;

            div.user-container {
                display: flex;
                align-items: center;
                gap: 17px;

                img {
                    width: 40px;
                    min-width: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 2px solid gray;
                    // margin-right: 20px;
                }

                div.name-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    h3 {
                        font-weight: 600;
                        font-size: 15px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }

            h2 {
                font-size: 18px;
                line-height: 1.4;
            }

            p {
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}

.container-settings {
    border-radius: $round-border-setting;
}