<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:5500/Layouts/workshop-nd/grid/css/style.css">
    <title>Workshop homework - grid layout</title>
</head>
<body>
    
    <section class="main">
        <div class="container">
            
        </div>
    </section>

</body>
</html>