<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flexbox</title>
</head>

<body>

    <div class="container-9">
        
    </div>

    <div class="container-8 flex">
        <div class="inner-container1">
            <div class="box1"></div>
            <div class="box2 flex">
                <div class="item color1"></div>
                <div class="item color2"></div>
            </div>
        </div>
        <div class="inner-container2">
            <div class="box1 flex">
                <div class="item color1"></div>
                <div class="item color2"></div>
            </div>
            <div class="box2"></div>
        </div>
        <div class="inner-container3">
            <div class="box1"></div>
            <div class="box2 flex">
                <div class="item color1"></div>
                <div class="item color2"></div>
            </div>
        </div>
    </div>

    <div class="container-7 flex">
        <div class="inner-container1 flex">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
        </div>
        <div class="inner-container2 flex">
            <div class="box1 flex">
                <div class="item color1"></div>
                <div class="item color2"></div>
            </div>
            <div class="box2"></div>
            <div class="box3 flex">
                <div class="item color1"></div>
                <div class="item color2"></div>
            </div>
        </div>
        <div class="inner-container3 flex">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
        </div>
    </div>

    <div class="container-6 flex">
        <div class="inner-container1 flex">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3 flex">
                <div class="item pink"></div>
                <div class="item blue"></div>
            </div>
        </div>
        <div class="inner-container2 flex">
            <div class="box1 flex">
                <div class="set flex">
                    <div class="item1"></div>
                </div>
            </div>
            <div class="box2 flex">
                <div class="set1"></div>
                <div class="set2 flex">
                    <div class="item color1"></div>
                    <div class="item color2"></div>
                    <div class="item color3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-5 flex">
        <div class="inner-container1 flex">
            <div class="item yellow"></div>
            <div class="item purple"></div>
            <div class="item green"></div>
        </div>
        <div class="inner-container2 flex">
            <div class="box1"></div>
            <div class="box2 flex">
                <div class="item2 pink"></div>
                <div class="item2 orange"></div>
            </div>
        </div>
    </div>

    <div class="container-4">
        <div class="inner-container1">
            <div class="box1">
                <div class="item1"></div>
                <div class="item2"></div>
            </div>
            <div class="box2"></div>
            <div class="box3">
                <div class="item1"></div>
                <div class="item2"></div>
            </div>
        </div>
        <div class="inner-container2"></div>
    </div>

    <div class="container-3">
        <div class="row1">
            <div class="item1"></div>
            <div class="item2"></div>
        </div>
        <div class="row2">
            <div class="item3"></div>
            <div class="item4"></div>
        </div>
        <div class="row3">
            <div class="item5"></div>
            <div class="item6"></div>
        </div>
    </div>

    <div class="container-2">
        <div class="inner-container-1">
            <div class="box1">
                <div class="item1"></div>
                <div class="item2"></div>
            </div>
            <div class="box2"></div>
        </div>
        <div class="inner-container-2">
            <div class="box3"></div>
            <div class="box4">
                <div class="item3"></div>
                <div class="item4"></div>
            </div>
        </div>
    </div>

    <div class="container-1">
        <div class="inner-container-1">
            <div class="box-1">
                <div class="item1"></div>
                <div class="item2">
                    <div class="inner-item1"></div>
                    <div class="inner-item2"></div>
                </div>
            </div>
            <div class="box-2"></div>
            <div class="box-3"></div>
        </div>
        <div class="inner-container-2"></div>
    </div>

</body>

</html>